In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('GOT_Ratings.csv')

In [24]:
df.head()

   Season  Episode  Rating  Viewers
0       1        1     8.9     2.22
1       1        2     8.6     2.20
2       1        3     8.5     2.44
3       1        4     8.6     2.45
4       1        5     9.0     2.58

In [25]:
df['id'] = df.Season.map(str) + '_' + df.Episode.map(str)

In [26]:
df.head()

   Season  Episode  Rating  Viewers   id
0       1        1     8.9     2.22  1_1
1       1        2     8.6     2.20  1_2
2       1        3     8.5     2.44  1_3
3       1        4     8.6     2.45  1_4
4       1        5     9.0     2.58  1_5